[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
wtforms = "*"
flask_wtf = "*"
Flask-Login = "*"
Flask-Bcrypt = "*"
flask-sqlalchemy = "*"
gunicorn = "*"
pymysql = "*"
dominate = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.14"